<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rezervacijafudbalskihtermina">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.rezervacijafudbalskihtermina.Galerija"></activity>
        <activity android:name="com.example.rezervacijafudbalskihtermina.RezervacijaTermina" />
        <activity android:name="com.example.rezervacijafudbalskihtermina.MojeRezervacije" />
        <activity android:name="com.example.rezervacijafudbalskihtermina.LoggedIn" />
        <activity android:name="com.example.rezervacijafudbalskihtermina.Login" />
        <activity android:name="com.example.rezervacijafudbalskihtermina.Register" />
        <activity android:name=".DodajRezervaciju" />
        <activity android:name=".LoggedIn" />
        <activity android:name=".Galerija" />
        <activity android:name=".Register" />
        <activity android:name=".MojeRezervacije" />
        <activity android:name=".Login" />
        <activity android:name=".RezervacijaTermina" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>